* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Manrope;
  font-weight: 800;
  font-size: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(218, 23%, 16%);
  color: hsl(193, 38%, 86%);
  height: 100vh;
}

.Advice-section {
  background-color: hsl(217, 19%, 24%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 6rem;
  width: 70rem;
  height: 40rem;
  border-radius: 1.6rem;
  text-align: center;
}
.Advice-section span {
  color: hsl(150, 100%, 66%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-weight: 500;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}
.Advice-section .dice {
  cursor: pointer;
  background-color: hsl(150, 100%, 66%);
  padding: 1rem;
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}